:root {
    --darkgray: #90A3A7;
    --lightgray: #E9EDEA;
    --blue: #9bccda;
    --yellow: #FFDE6B;
    --olive: #9D9042;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: .5fr 5fr;
}

.header {
    grid-column-start: 2;
    background: var(--lightgray);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.15);
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 20px 2fr 1fr 2fr;
    gap: 15px;
    background: var(--blue);
}

.dashboard {
    grid-column: 2 / 3;
    grid-row-start: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: var(--darkgray);
}

.cardbox-container {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
    padding: 15px;
}

.cardbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

.card {
    background: var(--lightgray);
    padding: 5px;
    border-left-color: var(--yellow);
    border-left-width: 5px;
}

.card img {
    width: 25px;
    height: 25px;
}

.menu-card {
    display: flex;
    align-items: center;
    padding: 5px;
}

.menu-card img {
    width: 25px;
    height: 25px;
}

.announce-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trend-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}