* {

}

:root {

}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: .5fr 5fr;
}

.header {
    grid-column-start: 2;
}

.sidebar {
    grid-column-start: 1;
    display: grid;
    grid-template-columns: 50px 1fr
}

.dashboard {
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    
}